@font-face {
    font-family: 'Aniyah Personal Use';
    src: url('AniyahPersonalUse.woff2') format('woff2'),
        url('AniyahPersonalUse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Codec Cold';
    src: url('CodecCold-BoldItalic.woff2') format('woff2'),
        url('CodecCold-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Codec Cold Trial';
    src: url('CodecColdTrial-ExtraLight.woff2') format('woff2'),
        url('CodecColdTrial-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Codec Cold';
    src: url('CodecCold-ExtraLightItalic.woff2') format('woff2'),
        url('CodecCold-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Codec Cold Trial';
    src: url('CodecColdTrial-ExtraBold.woff2') format('woff2'),
        url('CodecColdTrial-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Codec Cold Trial';
    src: url('CodecColdTrial-Bold.woff2') format('woff2'),
        url('CodecColdTrial-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Codec Cold';
    src: url('CodecCold-ExtraBoldItalic.woff2') format('woff2'),
        url('CodecCold-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Codec Cold Trial';
    src: url('CodecColdTrial-Heavy.woff2') format('woff2'),
        url('CodecColdTrial-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Codec Cold';
    src: url('CodecCold-HeavyItalic.woff2') format('woff2'),
        url('CodecCold-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Codec Cold';
    src: url('CodecCold-NewsItalic.woff2') format('woff2'),
        url('CodecCold-NewsItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Codec Cold';
    src: url('CodecCold-LightItalic.woff2') format('woff2'),
        url('CodecCold-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Codec Cold Trial';
    src: url('CodecColdTrial-Light.woff2') format('woff2'),
        url('CodecColdTrial-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Codec Cold';
    src: url('CodecCold-Italic.woff2') format('woff2'),
        url('CodecCold-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Codec Cold Trial';
    src: url('CodecColdTrial-News.woff2') format('woff2'),
        url('CodecColdTrial-News.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Codec Cold Trial';
    src: url('CodecColdTrial-Regular.woff2') format('woff2'),
        url('CodecColdTrial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Codec Cold Trial';
    src: url('CodecColdTrial-Thin.woff2') format('woff2'),
        url('CodecColdTrial-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Codec Warm Trial';
    src: url('CodecWarmTrial-BoldItalic.woff2') format('woff2'),
        url('CodecWarmTrial-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Codec Cold';
    src: url('CodecCold-ThinItalic.woff2') format('woff2'),
        url('CodecCold-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Codec Warm Trial';
    src: url('CodecWarmTrial-Bold.woff2') format('woff2'),
        url('CodecWarmTrial-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Codec Warm Trial';
    src: url('CodecWarmTrial-ExtraBold.woff2') format('woff2'),
        url('CodecWarmTrial-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Codec Warm Trial';
    src: url('CodecWarmTrial-ExtraBoldItalic.woff2') format('woff2'),
        url('CodecWarmTrial-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Codec Warm Trial';
    src: url('CodecWarmTrial-ExtraLightItalic.woff2') format('woff2'),
        url('CodecWarmTrial-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Codec Warm Trial';
    src: url('CodecWarmTrial-HeavyItalic.woff2') format('woff2'),
        url('CodecWarmTrial-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Codec Warm Trial';
    src: url('CodecWarmTrial-Heavy.woff2') format('woff2'),
        url('CodecWarmTrial-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Codec Warm Trial';
    src: url('CodecWarmTrial-ExtraLight.woff2') format('woff2'),
        url('CodecWarmTrial-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Codec Warm Trial';
    src: url('CodecWarmTrial-Light.woff2') format('woff2'),
        url('CodecWarmTrial-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Codec Warm Trial';
    src: url('CodecWarmTrial-LightItalic.woff2') format('woff2'),
        url('CodecWarmTrial-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Codec Warm Trial';
    src: url('CodecWarmTrial-News.woff2') format('woff2'),
        url('CodecWarmTrial-News.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Codec Warm Trial';
    src: url('CodecWarmTrial-Italic.woff2') format('woff2'),
        url('CodecWarmTrial-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Codec Warm Trial';
    src: url('CodecWarmTrial-NewsItalic.woff2') format('woff2'),
        url('CodecWarmTrial-NewsItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

