@font-face {
    font-family: 'aniyah';
    src: url('../fonts/AniyahPersonalUse.woff2') format('woff2'),
        url('../fonts/AniyahPersonalUse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ---------- Global --------- */

.questrial-regular {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
}


* {
    list-style: none;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-image: url(../images/baldosas2.png);
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    font-family: 'Questrial', sans-serif;
    font-size: 2.5rem;
    font-style: normal;
    margin: 0;
}

a:visited {
    color: inherit;
}

a:link {
    color: inherit;
    text-decoration: none;
}


/* ---------- Hero --------- */

.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero__navbar {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.35);
    box-sizing: border-box;
    display: flex;
    height: 10rem;
    justify-content: space-between;
    padding: 0 2rem;
    width: 100%;
}

.hero__navbar__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.hero__navbar__logo a img {
    width: 9rem;
    height: auto;
    display: block;
    max-width: 100%;
}

.hero__navbar__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    z-index: 1;
}

.hero__navbar__nav a {
    margin: 0 2rem;
    font-size: 2.7rem;
}

.hero__bigimage-container {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.hero__bigimage-container img {
    max-width: 60%;
    height: auto;
}

a {
    text-decoration: none;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.hero__navbar__nav a::after {
    background-color: #ffffff;
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    transition: width 0.3s ease;
    width: 0;
}

.hero__navbar__nav a:hover::after,
a:focus::after,
.hero__navbar__nav a.active::after {
    width: 100%;
}

#menu {
    display: none;
}

/* ---------- Device --------- */

@media (max-width: 650px) {
    #menu {
        display: block;
        background-color: transparent;
        border: none;
        z-index: 1;
        color: #ffffff;
        position: absolute;
        left: 0;
        top: 1rem;
    }

    .hero__navbar {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 3rem;
        position: relative;
    }

    .hero__navbar.menu-open {
        flex-direction: column;
        height: auto;
    }

    .hero__navbar__logo {
        display: none;
    }

    .hero__navbar__nav {
        display: none;
    }

    .hero__navbar__nav a {
        padding: 1rem;
        display: block;
        font-size: 1.7rem;
        text-align: center;
    }

    .open {
        display: block;
    }

    .hero__bigimage-container img {
        max-width: 87%;
    }
}


/* -------------------------------------- Historia Page ------------------------------------------------- */

#historia-body {
    background-color: black;
    background-image: url(../images/baldosas2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}


.container {
    margin: 0 auto;
    width: 70%;
}

main img {
    border-radius: 5px;
    max-width: 100%;
}

.historia {
    align-items: center;
    display: grid;
    gap: 7rem;
    grid-template-columns: 50% 50%;
    justify-items: center;
}

.historia p {
    color: #ffffff;
    font-size: 2.3rem;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    text-align: justify;
}

.historia h1,
.procesos h1 {
    color: #ffffff;
    grid-column: 1/3;
    font-family: 'aniyah';
    font-size: 4rem;
    margin-top: 7.5rem;
    max-width: 100%;
}

.historia .img1,
.historia .img-alternate {

    display: block;
    grid-column: 1/3;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    width: 75%;
}

.historia .img-alternate {
    display: none;
}

.historia .img2 {
    grid-column: 1/2;
}

.historia .para1 {
    grid-column: 2/3;
}

.para3,
.para4,
.para7 {
    grid-column: 1/3;
}

@media (max-width: 1000px) {

    .historia {
        grid-template-columns: 100%;
    }

    .historia p,
    .historia img,
    .historia .img1,
    .historia .para1 {
        grid-column: 1/2;
    }

    .historia .img1 {
        width: 100%;
    }

    .historia h1 {
        grid-column: 1/2;
        font-size: 3rem;
    }

    .procesos h1 {
        font-size: 3rem;
    }
}

@media (max-width: 750px) {

    #historia-body {
        background-color: black;
        background-image: url(../images/baldosas2.png);
        background-position: center;
        background-repeat: repeat;
        background-size: initial;
        background-attachment: fixed;
        text-align: center;
    }

    .historia img,
    .historia p,
    .procesos p {
        max-width: 100%;
    }

    .historia .img1 {
        display: none;
    }

    .historia .img-alternate {
        display: block;
        grid-column: 1/2;
        width: 100%;
    }

    .historia h1,
    .procesos h1 {
        font-size: 2.5rem;
    }

    .historia p {
        font-size: 1.7rem;
    }

    .container {
        margin: 0 auto;
        width: 85%;
        overflow: hidden;
    }
}

.footer {
    background-color: black;
    height: 10rem;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#current-year {
    color: white;
    font-size: 2rem;
}

/* ---- Procesos ---- */

.procesos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.procesos p {
    color: #ffffff;
    font-size: 2.3rem;
    line-height: 1.3;
    padding: 0;
    text-align: justify;
    margin: 2rem 0;
}

figcaption {
    font-size: 1.6rem;
    font-style: italic;
}

#corbataimg,
#trepaimg,
#cernidorimg,
#tapaderaimg,
#prensa-volanteimg,
#cucharonimg {
    width: 650px;
    height: auto;
}

@media (max-width:1000px) {
    figcaption {
        font-size: 1.4rem;
    }
}

@media (max-width:750px) {
    .procesos p {
        font-size: 1.7rem;
    }

    #corbataimg,
    #trepaimg,
    #cernidorimg,
    #tapaderaimg,
    #prensa-volanteimg,
    #cucharonimg {
        width: 100%;
    }

    figcaption {
        font-size: 1.1rem;
    }

}

@media (min-width:1000px) {
    figcaption {
        width: 650px;
    }
}